/* Hide scrollbar for IE, Edge and Firefox */
.home_full {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

.home_full {
  /* max-width: 1280px; */
  width: 100%;
  margin: 2rem;
  text-align: center;
  overflow-y: auto;
}

.homeList {
  display: flex;
  justify-content: space-between;
}

.homeList_item {
  width: 30%;
  margin: 0 auto;
}

.homeList_item button {
  width: 50%;
}

.homeList_item_details {
  margin-top: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 0.6em 1.2em;
  background-color: #1a1a1a;
}

.test {
  padding: 100px;
}
